<html>
    

    <h1><%=2+2%></h1>
    
    <h1>Workshop Todo list</h1> 
        
    
            Workshop Todo List
            <table>
                <tr>
                    <th><a href="/todo/show">Make the curricum </a></th>
                    <th><span  class="pomodoro-estimate">4 pomodoros</span></th>
                    <th><input type="checkbox"></th>
                </tr>
            
                <tr>
                    <th><a href="/todo/show">Buy workshop supplies </a></th>
                    <th><span class="pomodoro-estimate" >3 pomodoros</span></th>
                    <th><input type="checkbox"></th>
                </tr> 
            
                <tr>
                    <th><a href="/todo/show">Meet with the volunteer trainers </a></th>
                    <th><span class="pomodoro-estimate" >2 pomodoros</span></th>
                    <th><input type="checkbox"></th>
                
                </tr>
            
                <tr>
                    <th><a href="/todo/show">Order food for Saturday and Sunday </a></th>
                    <th><span  class="pomodoro-estimate" >1 pomodoro</span></th>
                    <th><input type="checkbox"></th>
                </tr>
           
                <tr>
                    <th><a href="/todo/show">Check pre-work assignments </a></th>
                    <th><span class="pomodoro-estimate" >2 pomodoros</span></th>
                    <th><input type="checkbox"></th>
                </tr>
         
                <tr>
                    <th><a href="/todo/show">Send workshop location to all the students </a></th>
                    <th><span class="pomodoro-estimate" >1 pomodoro</span></th>
                    <th><input type="checkbox"></th>
                </tr>
         
                <tr>
                    <th><a href="/todo/show">Have a great workshop </a></th>
                    <th><span class="pomodoro-estimate" >0 pomodoros</span></th>
                    <th><input type="checkbox"></th>
                </tr>
                
        </table>
        
        <input id="new-todo-description" type ="text" placeholder="add a new todo"><br>
        <input id="new-pomodoro-estimate" type ="number" placeholder="# of pomodoros"><br>
        <input id="add-new-todo-button" type="submit" value="Add todo">
</html>