<html>
    
    <h1><%=2+2%></h1>
    
    <h1>Workshop Todo list</h1> 
        
    
            Workshop Todo List
            <table>
                <%@todos.each do |todo|%>
                    <tr>
                        <th><a href="/todo/show/<%=todo.id%>"><%=todo.description%> </a></th>
                        <th><span  class="pomodoro-estimate"><%=todo.pomodoros_estimate%> pomodoros</span></th>
                        <th><input type="checkbox"></th>
                    </tr>
                <%end%>
            
        </table>
        
        <p></p>
 <a href="/todo/new">Add new Todo</a>
 
</html>