<h1>New Todo</h1>

<form action="/todo/create">
    <input type="text" name="description" placeholder="Enter a description">
    <input type="number" name="pomodoros_estimate">
    <input type="submit" value="Add todo">
</form>
    <p></p>
     <a href="/todos">Back</a>