 <html>
     <h1>Todo #<%=@t.id%></h1>
     <h2><%=@t.description%></h2> <input type ="checkbox"><br>
        <p><%=@t.description%>. I have to finish this by <%=@t.pomodoros_estimate%> pomodoros</p>
        <a href="/todos">Go back</a>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
</html>