 <html>
     <h2>Make the Curriculum</h2> <input type ="checkbox"><br>
        <p>Making the curriculum is about learning a subject from college. I have to finish this by 2 pomodoros</p>
        <p>2 pomodoros</p>
        <a href="/index.html">Go back</a>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
</html>